@charset "utf-8";
/* CSS Document */
h2{
	text-align: center;
	color:#0A25BF;
}

.container3{
	
	width: 80%;
	height: 60%;
	margin-top: 5%;
	margin-left: auto;
	margin-right:auto;
	border-radius:25px;
	background-color: lightgray;
	
}
.inner h2{
	padding-top: 2%;
	color:#0A25BF;
	text-align: center;
	margin-bottom: 0%;
}
.information{

	padding-top: 5%;
}
.information table{
	margin-top:5%;
	margin-bottom: 6%;
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
}

.innerTh{
	padding-left: 5%;
	padding-bottom:1%;
	width:60%;
}
.container3 button{
	margin-top: 0px;
	float: right;
	margin-right: 15%
}