@charset "utf-8";
/* CSS Document */

.timepicker-picker table td,
.timepicker-picker table td span,
.timepicker-picker table td a span
{height: 30px; line-height: 30px; width: 30px; padding:0px;}

.tableheadings {
	width:100%
	text-align:center;
}
td {
    white-space: nowrap;
}

.timeholder{
	width:10px;
	height:10px;
}
.employeeHolder{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.containerUnder{
	margin-top: 2%;
	width: 100%;
	display: inline-flex;

}
.submitBtn{
	margin-top: 1%;
	margin-bottom: 2%;
	height: 40px;
	width: 100%;
}
.submitBtn button{
	float: right;
}
.rightCalendar{
	width: 800px;
	height: 500px;
	background-color: orange;
	
}
.leftServices{
	margin-left: 5%;
	width: 500px;
}

.nameInfo table tr{
	height:40px;

}
.heading{
	width: 100%;
	border-bottom: solid;
	border-bottom-color: black;
}
.heading h5{
	float: left;
}
.heading .plusMinus{
	margin-left: 90%;	
	width:2px;
}

.plusMinus button{
	padding: 0;
	border: none;
	background: none;
}
.serviceType{
	display: inline-flex;
	width: 100%;
}
.serviceName{
	display:inline-flex;
	margin-left: 5%;
}
.serviceOffered{
	width: 100%;
}

.infoCategory .type{
	display: inline-flex;
}
.infoCategory .name{
	margin-left: 5%;
	display:inline-flex;
}
.employeeForm{
	padding: 2%;
	border-radius:25px;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	background-color: lightgray;
}
h2{
	color:#0A25BF;
	text-align: center;
	margin-bottom: 2%;
}

