@charset "utf-8";
/* CSS Document */
h2{
	color:#0A25BF;
	text-align: center;
	margin-bottom: 2%;
}

.roomNameHolder{
	width:100%;
	white-space:nowrap;
	margin-bottom: 1%;
}
.roomNameHolder h4{
	display: inline-flex;
	margin-right: 2%;
}
.roomNameHolder input{
	display: inline-flex;
	width: auto;
	padding-top: 2%;
}
.heading{
	width: 100%;
	border-bottom: solid;
	border-bottom-color: black;
}
.heading h5{
	float: left;
}
.heading .plusMinus{
	margin-left: 95%;	
}

.plusMinus button{
	padding: 0;
	border: none;
	background: none;
	color:lightgray;
}
.serviceType{
	display: inline-flex;
	width: 100%;
}
.serviceName{
	display:inline-flex;
	margin-left: 5%;
}
.serviceOffered{
	width: 100%;
}

.infoCategory .type{
	display: inline-flex;
}
.infoCategory .name{
	margin-left: 5%;
	display:inline-flex;
}
.submitBtn{
	width: 100%;
}
.submitBtn button{
	margin-left: 85%;
}
.mainHolder{
	padding: 3%;
	border-radius:25px;
	background-color: lightgray;
	width:60%;
	margin-left: auto;
	margin-right: auto;

}

.rightContent{
  padding-top:5%;
  padding-bottom:5%;
}


