@charset "utf-8";
/* CSS Document */

.editProfile{
	background-color: lightgray;
	width:40%;
	height:30%;
	text-align: center;
	border-radius:25px;
	margin-left: auto;
	margin-right: auto;
}
.rightContent h2{
	text-align: center;
	margin-bottom: 5%;
	color:#0A25BF;
}
.editProfile table{
	margin-left: auto;
	margin-right: auto;
}
.inputInfo{
	padding-top: 10%;
}
.editProfile button{
	margin-top: 5%;
}

.editProfile table tr th{
	padding-left: 5%;
}



