@charset "utf-8";
/* CSS Document */


body h2{
	color:#0A25BF;
}


.filter .form-group{
	display:inline-flex;
	
}
.inputgroup .form-group .form-control{
	width:auto;
	padding-left:2%;
	margin-left:2%;
}
.inputgroup .form-group .form-control select{
    width: auto;
    position: relative;
}
.inputgroup{
	padding-top:1%;
	width:40%;
}
.dropDownCal{
	padding-top:0.5%;
}
.bookAppointment table{
	margin-top: 7%;
	margin-left: auto;
	margin-right:auto;	
	margin-bottom: 8%;
	
}

 .drop{
	padding-left: 5%;
	padding-bottom: 5%; 
}
.appHolderOpt{
	width:50%;
	margin-left: auto;
	margin-right:auto;	
	
}

@media (max-device-width: 480px){
	.filter{
	display:lits-item;
	}
}