@charset "utf-8";
/* CSS Document */
tbody tr td{
	background-color: lightgray;
	color:black;
}
.outContainer{
	padding-top: 2%;
	text-align: center;

}
h3{
	color:#0A25BF;
}
.container{
	
	display: inline-flex;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: lightgray;
	border-radius:25px;
	width: auto;
}
.left{
	
	padding-top:2%;
}
.left .test{
	
	padding-top: 10%;
}
.right{
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
}
.rightBtn{
	
	padding-top: 5%;
}



