@charset "utf-8";
/* CSS Document */
h2{
	color:#0A25BF;
	text-align: center;
}
.outContainer{
	background-color: lightgray;
	width:60%;
	padding-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius:25px;
}

.container2{
display: inline-flex;
	padding-top: 2%;
}
.left .test{
	
	padding-top: 10%;
}
.right{
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
}
.rightBtn{
	
	padding-top: 5%;
}

