@charset "utf-8";
/* CSS Document */

.forgotPassword{
	margin-top: 30%;
	width: 90%;
	height:250px;
	margin-right: auto;
	margin-left: auto;
	border-color: white;
	border-radius:25px;
	background-color: lightgray;
	text-align: center;
}
.forgotPassword h2{
	color:#0A25BF;
	padding-top: 8%;
	margin-bottom: 10%;
}
.forgotPassword .inner table{

	margin-left: auto;
	margin-right:auto;	
	margin-bottom: 5%;
	
}
.drop{
	padding-left: 5%;
	padding-bottom: 5%; 
}

@media(min-width: 768px){
	.forgotPassword{
		margin-top: 30%;
		height: 300px;
	}
	
	.forgotPassword h2{
	padding-top: 5%;
	margin-bottom: 6%;
}
}
@media(min-width: 1024px){
	
	.forgotPassword{
	
	width: 500px;
	height: 300px;
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right:auto;
	border-color: white;
	border-radius:25px;
	background-color: lightgray;
	
}
	.forgotPassword h2{
	color:#0A25BF;
	padding-top: 8%;
	margin-bottom: 10%;
}
}
