@charset "utf-8";
/* CSS Document */
.mainContainer{
	width: 80%;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}
.hright {
	width:15%;

}
.hright a{
	margin-left:10%;
}
.head h3{
	color:black;
	margin-top: 0px;
	display: inline;
}
ul li{
	list-style-type: none;
	text-align:inherit;
}
.bg {
  background-image: url(/images/headerback2.JPG);
  position: fixed;
  width: 80%;
  height: 350px; /*same height as jumbotron */
  top:10;
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0px;
  height: 350px;

 
}
.jumbotron h1{
	margin-top:7%;
}
.applicationInfoCenter{
	padding-top: 1%;
	background-color:whitesmoke;
	display: inline-flex;
	width:100%;
	
}
.applicationInfo{
	width: 100%;
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
	margin: 0;
	
}
.clientInfo{
	text-align: center;
	width: 50%;
	
}
.adminInfo{
	text-align: center;
	width: 50%;
}
.buttonHolder{
	margin-top: 0px;
	width: 100%;
	background-color:lightgray;
	padding-bottom: 2%;
	text-align: center;
}
.buttonHolder .leftBtn{
	float: left;
	width: 50%;

}
.buttonHolder .rightBtn{


}
.buttonHolder .leftBtn a{
	margin-left: 25%;
	font-size: 24px;
}
.buttonHolder .rightBtn a{
	margin-right: 5%;
	font-size: 24px;
}
.buttonHolder h2{
	padding-top:2%;
	margin-top: 0;
	margin-bottom: 2%;
}
footer{
	margin-top: 1%;
	text-align: center;
}