@charset "utf-8";
/* CSS Document */

h2{
	text-align: center;
	color:#0A25BF;
}
.logArea{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.logArea table{
	width:100%;
	white-space: nowrap;
}
