@charset "utf-8";
/* CSS Document */

h2{
	text-align: center;
	color:#0A25BF;
}
.logArea{
	width: 90%;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
.logArea table{
	white-space: nowrap;
}
.logArea table tr{
	padding-left:5%;
}