@charset "utf-8";
/* CSS Document */

.filter{
	width: 100%;
	display: inline-flex;
}
.filterTitle{
	margin-left: 2%;
}
.dropDownCal{
	width: 200px;
	margin-left: 1%;
	
}
.filter .form-group{
	margin-left: 1%;
	margin-top: 1%;
	width:30%;
	display:inline-flex;
}
#sel1{
	width:50%;
}
.filterBtn{
	margin-left: 1%;
	margin-top: 1%;
}
#startDate{
	padding-top: 2%;
	height:49px;
}
<!--.masterCalendar{
	
	background-color: orange;
	width: 90%;
	margin:5%;
	margin-top: 2%;
	height: 80%;
}-->