@charset "utf-8";
/* CSS Document */
.rightContent{
	display:block;
}
.heading{
	width: 100%;
	border-bottom: solid;
	border-bottom-color: black;
}
.heading h5{
	float: left;
}

.heading .plusMinus{
	margin-left: 85%;	
}

.plusMinus button{
	padding: 0;
	border: none;
	background: none;
}
.servicePreformed{
	border-bottom: solid;
	border-bottom-color: black;
}
.wrapPanelBody{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.adminContainer{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.mainTitle{
	height: 10%;
}
.mainTitle h2{
	margin-left:10%;
	float: left;
	color:#0A25BF;
}
.mainTitle .addSign{
	float: right;
	margin-right:10%;
	margin-top: 1%;
}

.glyphicon {
    font-size: 40px;
	color:#0A25BF;
}

table{
	width: 100%;
}
table th{
	white-space:nowrap;
	border-bottom: solid;
}
.checkbox{
	height: 10px;
}
.adminArea{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
.employeeContainer{
	width: 100%;
	display: inline-flex;

}
.right{
	width:40%;
	margin-left: 10%;
}
.opt{
	margin-left:auto;
	margin-right:auto;
}
.saveBtn{
	margin-left: 75%;
}

.cont{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

.cont table td{
	height: inherit;

}
.cont table tr td{
	width: 1%;

}
.cont table{
	text-align: center;
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
.employee2{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}