@charset "utf-8";
/* CSS Document */
.mainTitle{
	height: 10%;
}
.mainTitle h2{
	margin-left:10%;
	float: left;
	color:#0A25BF;
}
.mainTitle .addSign{
	float: right;
	margin-right:10%;
	margin-top: 1%;
}

.glyphicon {
    font-size: 40px;
	color:#0A25BF;
}
.heading{
	width: 100%;
	border-bottom: solid;
	border-bottom-color: black;
}
.heading h5{
	float: left;
}
.heading .plusMinus{
	margin-left: 95%;	
}

.plusMinus button{
	padding: 0;
	border: none;
	background: none;
}
.listServices{
	border-bottom: solid;
}
.listServices table tr td{
	width: 10%;
}
 .clearance h5{
	margin-left:35% ;
}
.serviceContainer{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.serviceArea{
	width: 60%;
	margin-left: auto;
	margin-right: auto;

}
.serviceArea table th{
	height: inherit;
	text-align: center;
	border-bottom: solid;
}
.serviceArea table{
	text-align: center;
}
.opt{
	margin-top:5%;
	text-align: center;
}


