
<head>
<link href="/css/addAdminUser.css" rel="stylesheet">
</head>

<body>
	<div class="rightContent">
		<h2>Add Admin</h2>
		<div class="mainContainer">
			<div class="adminInfo">
				<table>
					<tr>
						<td>Email:</td>
						<td><input class="form-control" type="text"></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input class="form-control" type="password"></td>
					</tr>
					<tr>
						<td>Re-enter Password:</td>
						<td><input class="form-control" type="password"></td>
					</tr>
				</table>
			</div>
			<div class="adminPriv">
				<div class="listAdmin">
					<table>
						<tr>
							<th>User Privileges</th>
							<th>View only</th>
							<th>View + Edit</th>
						</tr>
						<tr>
							<td>Service of Type 1</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Service of Type 2</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Service of Type 3</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Service of Type 4</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label><input type="checkbox" value=""></label>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="btnSubmit">
				<button type="button" class="btn btn-default">Submit</button>
			</div>
		</div>

	</div>
</body>
