<head>
<link href="/css/addAdminUser.css" rel="stylesheet">
</head>
	
<div class="row">
	<div ng-controller="AddAdminController" ng-init="init()">
	<div class="col-sm-2 col-lg-2">
		<div class="leftNav">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 	<li><a href="#/admin/bookAppointment">Book Appointment</a></li>
     						 	<li><a href="#/admin/searchApp">Search Appointment</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Products</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-10 col-lg-10">
	<div class="rightContent">
		<h2>Add Admin</h2>
		<div class="mainContainer">
		<form name="adminForm" ng-submit="addAdmin()">
			<div class="adminInfo">
				<table>
					<tr>
						<td>First Name:</td>
						<td><input class="form-control" name="fname" ng-model="fname" type="text" required>
						<span ng-show="(adminForm.fname.$dirty || submitted) && adminForm.fname.$error.required">
							First name is required
						</span>
						</td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input class="form-control" name="lname" ng-model="lname" type="text" required>
						<span ng-show="(adminForm.lname.$dirty || submitted) && adminFormlname.$error.required">
							Last name is required
						</span>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input class="form-control" name="email" ng-model="email" type="email" required>
						<span ng-show="(adminForm.email.$dirty || submitted) && adminForm.email.$error.required">
							Email is required
						</span>
						</td>
					</tr>
					<tr>
						<td>Admin Clearance:</td>
						<td>
						<select class="form-control" id="sel1"  ng-model="adminClearanceSubmit" >
						<option value="" disabled selected></option>
						<option value="admin">admin</option>
						<option value="superAdmin">superAdmin</option>
						</select>
						</td>
					</tr>
				</table>
			</div>

			<div class="btnSubmit">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
		</div>
		</div>
	</div>
</div>
</div>

