
<head>
<link href="/css/addEmployeeAdmin.css" rel="stylesheet">
</head>

<body>
	<form ng-submit="addRoom()" >
		<input type="text" ng-model="number" size="50"><br>
		<input type="submit" class="btn" value="Post">
	</form>

	<div class="rightContent">
		<h2>Add Employee</h2>
		<div class="employeeForm">
			<div class="employeeHolder">
				<div class="nameInfo">
					<table>
						<tr>
							<td>First Name:</td>
							<td><input type="text" class="form-control" id="fName"></td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td><input type="text" class="form-control" id="lName"></td>
						</tr>
					</table>
				</div>
				<div class="containerUnder">
					<div class="rightCalendar"></div>

					<div class="leftServices">
						<div class="serviceOffered">
							<div class="heading">
								<h5>Services Preformed</h5>
								<div class="plusMinus">
									<button type="button" class="btn btn-default">
										<h5>+ / -</h5>
									</button>
								</div>
							</div>
							<div class="infoCategory">
								<div class="type">
									<h5>Service Type</h5>
								</div>
								<div class="name">
									<h5>Service Name</h5>
								</div>
							</div>
							<div class="serviceType">
								<div class="form-group">
									<select class="form-control" id="sel1">
										<option>Type</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
								<div class="serviceName">
									<select class="form-control" id="sel2">
										<option>Service Name</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="submitBtn">
					<button type="button" class="btn btn-default">Submit</button>
				</div>
			</div>
		</div>

	</div>
</body>
