<head>
<link href="/css/addEmployeeAdmin.css" rel="stylesheet">
</head>

	<div class="row">
	  <div class="col-sm-2">
		<div class="leftNav">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 	<li><a href="#/admin/bookAppointment">Book Appointment</a></li>
     						 	<li><a href="#/admin/searchApp">Search Appointment</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Products</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		</div>
</div>

	<div class="col-sm-10">
	<div class="rightContent">
	<div ng-controller="AddEmployeeController" ng-init="init()">
		<h2>Add Employee</h2>
		<div class="employeeForm">
		 <form name="employeeForm" ng-submit="addEmployee()" >
			<div class="employeeHolder">
				<div class="nameInfo">
					<table>
						<tr>
							<td>First Name:</td>
							<td><input type="text" class="form-control" name="fname" ng-model="fname" required></td>
							<span ng-show="(employeeForm.fname.$dirty || submitted) && employeeForm.fname.$error.required">
							First name is required
						</span>						
						</tr>
						<tr>
							<td>Last Name:</td>
							<td><input type="text" class="form-control" name="lname" ng-model="lname"></td>
							<span ng-show="(employeeForm.lname.$dirty || submitted) && employeeForm.lname.$error.required">
							First name is required
						</span>	
						</tr>
					</table>
				</div>
				<div class="row">
					<div class="col-sm-7">
					<div class="rightCalendar">
					<div class="heading">
								<h5>Availability</h5>
								<div class="plusMinus">
									<button type="button" class="btn btn-default">
										<h5> +/- </h5>
									</button>
								</div>
							</div>
					<div class="tableheadings">
					<table>
					<tr>
					<th id="weekd">WeekDay</th>
					<th id="timeslot">Start Hour</th>
					<th id="timeslot">Start Minute</th>
					<th id="timeslot">End Hour</th>
					<th id="timeslot">End Minute</th>
					<th> </th>
					</tr>
					</table>
					</div>
					<table>
					<fieldset  ng-repeat="choice in choices2">
            	<tr>
		            <td id="weekd">
						<select class="form-control" ng-model="weekDay" >
						<option value="" disabled selected></option>
						<option value="SUNDAY">SUNDAY</option>
						<option value="MONDAY">MONDAY</option>
						<option value="TUESDAY">TUESDAY</option>
						<option value="WEDNESDAY">WEDNESDAY</option>
						<option value="THURSDAY">THURSDAY</option>
						<option value="FRIDAY">FRIDAY</option>
						<option value="SATURDAY">FRIDAY</option>
						</select>
					</td>
					<td id="timeslot">
						<select class="form-control" ng-model="startTimeHour">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						  <option value="13">13</option>
						  <option value="14">14</option>
						  <option value="15">15</option>
						  <option value="16">16</option>
						  <option value="17">17</option>
						  <option value="18">18</option>
						  <option value="19">19</option>
						  <option value="20">20</option>
						  <option value="21">21</option>
						  <option value="22">22</option>
						  <option value="23">23</option>
						  <option value="24">24</option>
						</select>
					</td>
					<td id="timeslot">
						<select class="form-control" ng-model="startTimeMinute">
						  <option value="00">00</option>
						  <option value="05">05</option>
						  <option value="10">10</option>
						  <option value="15">15</option>
						  <option value="20">20</option>
						  <option value="25">25</option>
						  <option value="30">30</option>
						  <option value="35">35</option>
						  <option value="40">40</option>
						  <option value="45">45</option>
						  <option value="50">50</option>
						  <option value="55">55</option>
						</select>
					</td>
					<td id="timeslot">
						<select class="form-control" ng-model="endTimeHour">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						  <option value="13">13</option>
						  <option value="14">14</option>
						  <option value="15">15</option>
						  <option value="16">16</option>
						  <option value="17">17</option>
						  <option value="18">18</option>
						  <option value="19">19</option>
						  <option value="20">20</option>
						  <option value="21">21</option>
						  <option value="22">22</option>
						  <option value="23">23</option>
						  <option value="24">24</option>
					</select>
					</td>
					<td id="timeslot">
						<select class="form-control" ng-model="endTimeMinute">
						  <option value="00">00</option>
						  <option value="05">05</option>
						  <option value="10">10</option>
						  <option value="15">15</option>
						  <option value="20">20</option>
						  <option value="25">25</option>
						  <option value="30">30</option>
						  <option value="35">35</option>
						  <option value="40">40</option>
						  <option value="45">45</option>
						  <option value="50">50</option>
						  <option value="55">55</option>
						</select>
					</td>
		   			 <td>
		         	 <button class="btn btn-default" type="button" ng-click="addHoursList(weekDay, startTimeHour, startTimeMinute, endTimeHour, endTimeMinute)">+</button>
		           	</td>
		          </tr>
		           </fieldset>		  
				   </table>
				   	<table>
					<tr ng-repeat="timeBlock in timeBlocks">
					<td id="weekd2">{{timeBlock.weekDay}}</td>
					<td id="timeslot2">{{timeBlock.startHour}}</td>
					<td id="timeslot2">{{timeBlock.startMinute}}</td>
					<td id="timeslot2">{{timeBlock.endHour}}</td>
					<td id="timeslot2">{{timeBlock.endMinute}}</td>
					<td><button id="" class="btn btn-default" ng-click="removeChoiceTime($index)">-</button></td>
					</tr>
					</table>
				   </div>
					</div>
					
					
					<div class="col-sm-5">
					<div class="leftServices">
						<div class="serviceOffered">
							<div class="heading">
								<h5>Services Preformed</h5>
									<div class="plusMinus">
										<button type="button" class="btn btn-default" >
										<h4>+/-</h4>
										</button>
									</div>
							</div>
							<div class="infoCategory">
							<table>
							<tr>
							<th>
								
									Service Type
							
							</th>
							<th>
							
									Service Name
								
							</th>
							</tr>
							</table>							
							<table>
											 
				           <fieldset  ng-repeat="choice in choices">
				            <tr><td><select class="form-control" data-ng-model="listtypeselect" data-ng-options="listtype.typeName for listtype in listtypes" data-ng-change="getListServices(listtypeselect.typeId)">
				    		</select>
				    		</td>
				    		<td>
				  			  <select class="form-control" id="{{$index}}" data-ng-model="listservicesselect" data-ng-options="listservice.name for listservice in listservices" >
				   			  <p>{{listservicesselect.name}}</p>
				   			 </select>
				   			 <td>
				   			 <td>
				         	 <button class="btn btn-default" type="button" ng-click="addServiceList(listservicesselect.productId,listservicesselect.name,listtypeselect.typeName)">+</button>
				           	</td>
				           	</tr>
				           </fieldset>		  
							</table>
				    		<table>
							
							<tr ng-repeat="service in services">
							<td>{{service.typeName}}</td>
							<td>{{service.name}}</td>
							<td><button id="" class="btn btn-default" ng-click="removeChoice($index)">-</button></td>
							
							</tr>
							</table>
							</div>
						</div>
					</div>
				</div>
				</div>
				
				<div class="row">
				<div class="col-sm-7">
				<div class="heading">
					<h5>Holidays</h5>
						<div class="plusMinus">
							<button type="button" class="btn btn-default">
								<h5> +/- </h5>
							</button>
						</div>
				</div>
				<div class="holidayholder"	>
					<table>
					<tr>
					<th >Year</th>
					<th >Month</th>
					<th >Day</th>
					</tr>
				      <tr ng-repeat="choice in choices3">
						<td id="weekd" >
							<select ng-model="dateYear" ng-options="year for year in selects.years() | orderBy: year:yearOrder" class="form-control">
							    <option value="" disabled>----</option>
							 </select>
				    	</td>
				    	<td id="timeslot">
							 <select ng-model="dateMonth" ng-options="month for month in selects.months()" class="form-control">
							    <option value="" disabled>--</option>
							  </select>
				   		</td>
				   		<td id="timeslot">
							 <select ng-model="dateDay" ng-options="day for day in selects.days()" class="form-control">
							    <option value="" disabled>--</option>
							  </select>
						</td>
						<td>
				         	 <button class="btn btn-default" type="button" ng-click="addHoliday(dateYear, dateMonth, dateDay)">+</button>
				        </td>
				       </tr>
				       <tr ng-repeat="timeBlockL in timeBlockList">
				       <td id="weekd" >{{ timeBlockL.year}}</td>
				       <td id="timeslot">{{timeBlockL.month}}</td>
				       <td id="timeslot">{{timeBlockL.day}}</td>
				       <td> <button id="" class="btn btn-default" ng-click="removeChoiceHoliday($index)">-</button></td>
				       
				       </tr>
				     </table>
				       </div>	
				
				</div>
				</div>
				
				<div class="row">
				<div class="col-sm-12">
				<div class="submitBtn">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
				</div>
				
				</div>
			</div>
		</form>
		</div>
		</div>
		</div>
	</div>
</div>

