<head>
<link href="/css/addRoomAdmin.css" rel="stylesheet">
</head>
	<div class="row">
		<div class="col-sm-2 col-lg-2">
		  <div class="leftNav">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 	<li><a href="#/admin/bookAppointment">Book Appointment</a></li>
     						 	<li><a href="#/admin/searchApp">Search Appointment</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Products</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		</div>
		</div>
	
	<div class="col-sm-10 col-lg-10" >
	  <div class="rightContent">
	  <div ng-controller="AddRoomController" ng-init="init()">
  	<!--  
  	<form ng-submit="addRoom()">
  	<p>Room name:</p>
  	<input type="text" placeholder="number" ng-model="number" />
  	<input type="submit" value="post" />
  	</form>
  	
  	<p>room number:{{number}}</p>
  		<h2>Add Room</h2>
  		-->
     <form name="roomform" ng-submit="addRoomFinal()" >
            				<div class="mainHolder">
            					<div class="roomInfoHolder">
            						<div class="roomNameHolder">
            							<h4>Room Name</h4>
            							<input type="text" placeholder="number" name=rNumber ng-model="number" required />
            							<span ng-show="(roomform.rNumber.$dirty || submitted) && roomform.rNumber.$error.required">
										      Number is required
										    </span>
            						</div>
            				<div class="serviceOffered">
							<div class="heading">
								<h5>Services Preformed</h5>
									<div class="plusMinus">
										<button type="button" class="btn btn-default" >
										<h4> -</h4>
										</button>
									</div>
							</div>
							<div class="infoCategory">
							<table>
							<tr>
							<td>
								
									<h5>Service Type</h5>
							
							</td>
							<td>
							
									<h5>Service Name</h5>
								
							</td>
							</tr>
							</table>
							</div>
			<table>
							 
           <fieldset  ng-repeat="choice in choices">
            <tr><td><select class="form-control" data-ng-model="listtypeselect" data-ng-options="listtype.typeName for listtype in listtypes" data-ng-change="getListServices(listtypeselect.typeId)">
    		</select>
    		</td>
    		<td>
  			  <select  class="form-control" id="{{$index}}" data-ng-model="listservicesselect" data-ng-options="listservice.name for listservice in listservices" >
   			  <p>{{listservicesselect.name}}</p>
   			 </select>
   			 <td>
   			 <td>
         	 <button class="btn btn-default"  type="button" ng-click="addServiceList(listservicesselect.productId,listservicesselect.name,listtypeselect.typeName)">+</button>
           	</td>
           	</tr>
           </fieldset>		  
			</table>
    		<table>
			
			<tr ng-repeat="service in services">
			<td>{{service.typeName}}</td>
			<td>{{service.name}}</td>
			<td><button class="btn btn-default" id="" ng-click="removeChoice($index)">-</button></td>
			
			</tr>
			</table>					
		</div>
         <div class="submitBtn">
        	<input type="submit" class="btn btn-default" value="submit" />
        </div>
       
            						
       </div>
      </div>
     </form>
	  </div>
	  </div>
  </div>
</div>
