<div class="rightContent">
		<h2>Add Service</h2>
		<div class="addServiceArea">
			<div class="serviceInfo">
				<table>
					<tr>
						<td>Service Name:</td>
						<td><input class="form-control" type="text"></td>
					</tr>
					<tr>
						<td>Service Type:</td>
						<td><input class="form-control" type="text"></td>
					</tr>
					<tr>
						<td>Clearance:</td>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" value=""></label>
							</div>
						</td>
					</tr>
				</table>
			</div>

			<div class="btnSubmit">
				<button type="button" class="btn btn-default">Submit</button>
			</div>
		</div>
	</div>

