
<head>
<link href="/css/adminEditProfile.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="leftNav">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View List Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Prodcuts</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		</div>
	</md-sidenav>
	
	<div class="rightContent">
		<h2>Edit Profile</h2>
		<div class="editProfile">
			<div class="inputInfo">
				<table>
					<tr>
						<th>
							<p>Email</p>
						</th>
						<th class="innerTh"><input type="text" class="form-control">
						</th>
					</tr>
					<tr>
						<th>
							<p>Password</p>
						</th>
						<th class="innerTh"><input type="password"
							class="form-control"></th>
					</tr>
					<tr>
						<th>
							<p>Re-Enter Password</p>
						</th>
						<th class="innerTh"><input type="password class="form-control" >
						</th>
					</tr>
				</table>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
	</div>

</body>
