<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Book Appointment</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/masterClientStyle.css" rel="stylesheet">
   	<link href="/css/bookAppointment.css" rel="stylesheet">	
</head>

<body>
	<div class="head">
	<h3>Scheduler App</h3>
		<div class="right">
			<label class="username">John Smith</label>
			<div class="dropdown">
  				<button type="button" data-toggle="dropdown">
  				<span class="caret"></span></button>
  				<ul class="dropdown-menu dropdown-menu-right">
  				<li><a href="/partials/editProfile.html">Edit Profile</a></li>
				<li><a href="index.html">Logout</a></li>
 	 			</ul>
			</div>
		</div>
	</div>

	<div class="bookAppointment">
		<h2> Schedule Appointment</h2>
		<table>
			<tr>
			<th>
			<p>Select a Service Type</p>
			</th>
			<th class="drop">
   				<select>
   					<option value="default">Service</option>
   					<option value="Service1">Service 1</option>
   					<option value="Service2">Service 2</option>
   					<option value="Service3">Service 3</option>
   				</select>
 			</th>
			</tr>
			<tr>
				<th>
					<p>Select a Treament Area</p>
				</th>
				<th class="drop">
					<select>
   					<option value="default">Area</option>
   					<option value="Service1">Area 1</option>
   					<option value="Service2">Area 2</option>
   					<option value="Service3">Area 3</option>
   					</select>
				</th>
			</tr>
			<tr>
				<th>
					<p>Preffered Staff Member</p>
				</th>
				<th class="drop">
					<select>
   					<option value="default">Member</option>
   					<option value="Service1">Member 1</option>
   					<option value="Service2">Member 2</option>
   					<option value="Service3">Member 3</option>
   					</select>
				</th>
			</tr>
		</table>
		<button type="submit" class="btn btn-default">Select Time</button>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
