
<head>
<link href="/css/bookAppointment.css" rel="stylesheet">
</head>

<body>
<md-sidenav>		
	<div class="leftNav" layout="row">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View List Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Prodcuts</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		</div>
	</md-sidenav>
	
	<div class="rightContent">
		<div class="bookAppointment">
			<h2>Schedule Appointment</h2>
			<table>
				<tr>
					<th>
						<p>Select a Service Type</p>
					</th>
					<th class="drop"><select>
							<option value="default">Service</option>
							<option value="Service1">Service 1</option>
							<option value="Service2">Service 2</option>
							<option value="Service3">Service 3</option>
					</select></th>
				</tr>
				<tr>
					<th>
						<p>Select a Treament Area</p>
					</th>
					<th class="drop"><select>
							<option value="default">Area</option>
							<option value="Service1">Area 1</option>
							<option value="Service2">Area 2</option>
							<option value="Service3">Area 3</option>
					</select></th>
				</tr>
				<tr>
					<th>
						<p>Preffered Staff Member</p>
					</th>
					<th class="drop"><select>
							<option value="default">Member</option>
							<option value="Service1">Member 1</option>
							<option value="Service2">Member 2</option>
							<option value="Service3">Member 3</option>
					</select></th>
				</tr>
			</table>
			<button type="submit" class="btn btn-default">Select Time</button>
		</div>

	</div>
</body>

