<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Client Login</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/masterClientStyle.css" rel="stylesheet">
   	<link href="/css/clientLogin.css" rel="stylesheet">	
</head>

<body>
<div class="head">
	<h3>Scheduler App</h3>
	<div class="hright">
				<label id="nclient">New Client? </label>
				 <a href="/partials/signUp.html" class="btn btn-info" role="button">Sign Up</a>
				</div>
</div>
<div class="container">

<div class="login">
	<h2> Client Login</h2> 
	<div class="inner">
	<form>
  <div class="form-group">
   <table>
   		<tr>
   			<th>
    			<label for="email">Email :</label>
    		</th>
    		<th class="drop">
    			<input type="email" class="form-control" id="email">
    		</th>
	   </tr>	
    	<tr>
    		<th>
    			<label for="pwd">Password:</label>
    		</th>
    		<th class="drop">
    			<input type="password" class="form-control" id="pwd">
			</th>
	   </tr>
	   
    </table>
  </div>
  <div class="forgotP">
  <a href="forgotPassword.html">Forgot Password?</a>
  </div>
  <button type="submit" class="btn btn-default" id="subBtn">Submit</button>
</form>
	</div>
</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
