<head>
	<link href="/css/clientHome.css" rel="stylesheet">
</head>
<div class="row" >
	<div class="col-sm-12">
	<div class="filter">
	<button type="button" class="btn btn-primary" ng-click="gotoBook()">Book Now</button>
	<button type="button" class="btn btn-primary" ng-click="gotoview()">View Appointments</button>
	</div>
		<div class="calbox">
			<div class="btn-group">
	                   <button class="btn btn-success" ng-class="{active: currentView === 'agendaDay'}" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
	                   <button class="btn btn-success" ng-class="{active: currentView === 'agendaWeek'}" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
	                   <button class="btn btn-success" ng-class="{active: currentView === 'month'}" ng-click="changeView('month', 'myCalendar1')">Month</button>
	         </div>
	     </div>
	    	<div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar" ></div>
	</div>
</div>