<head>
   	<link href="/css/addClientAdmin.css" rel="stylesheet">
</head>

<div class="row">
		<div class="col-sm-2 col-lg-2">
			<div class="leftNav">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View List Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 	<li><a href="#/admin/bookAppointment">Book Appointment</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Prodcuts</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		<div class="client Side View">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse70009">Client Side</a>
              </h4>
            </div>
            <div id="collapse70009" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  <li>
                    <a href="#/client/viewApointment">viewAppointent</a>
                  </li>
                  <li>
                    <a href="#/client/bookAppointment">bookAppointment</a>
                  </li>
                  <li>
                    <a href="#/client/cancelAppointment">CancelAppointment</a>
                  </li>
                  <li>
                    <a href="#/client/editBooking">editBooking</a>
                  </li>
                  <li>
                    <a href="#/client/login">Login</a>
                  </li>
                  <li>
                    <a href="#/client/editProfile">editProfile</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
	</div>
	<div class="col-sm-10 col-lg-10">	
		<div class="rightContent">
					<h2>Add Client</h2>
	<div class="container3">
	<div ng-controller="editClientAdminController" ng-init="init()">
		<form name="clientForm" ng-submit="addClient()">
			<div class="inner">
				<div class="inner2">
					<div class="information" >
						<table>
						<tr>
							<td>
								<p>First Name </p>
							</td>	
							<td class="innerTh">
								<input type="text" ng-value="nametest" ng-model="Fname" name="Fname" class="form-control"  required>
							</td>
							<td><span ng-show="(clientForm.Fname.$dirty || submitted) && clientForm.Fname.$error.required">
								First Name is required
							</span></td>
						</tr>
						<tr>
							<td >
								<p>Last Name</p>
							</td>
							<td class="innerTh">
								<input type="text" ng-model="lname" name="lname" class="form-control" requried>
							</td>
							<td><span ng-show="(clientForm.lname.$dirty || submitted) && clientForm.lname.$error.required">
								Last Name is required
							</span></td>
						</tr>
						<tr>
							<td>
								<p>Email</p>
							</td>
							<td class="innerTh">
								<input type="email" ng-model="email" name="email" class="form-control" required>
							</td>
							<td><span ng-show="(clientForm.email.$dirty || submitted) && clientForm.email.$error.required">
								Email is required
							</span></td>
						</tr>
						<tr>
							<td>
								<p>Phone Number</p>
							</td>
							<td class="innerTh">
								<input type="text" ng-model="phoneNumber" name="phoneN" class="form-control" required>
							</td>
							<td><span ng-show="(clientForm.phoneN.$dirty || submitted) && clientForm.phoneN.$error.required">
								Phone number is required
							</span></td>
						</tr>
						<tr>
							<td>
								<p>Birthday(YYYY-MM-DD)</p>
							</td>
							<td class="innerTh">
								<div class="form-inline">
						  <select ng-model="dateYear" ng-options="year for year in selects.years() | orderBy: year:yearOrder" class="form-control">
						    <option value="" disabled>----</option>
						  </select>
						  <select ng-model="dateMonth" ng-options="month for month in selects.months()" class="form-control">
						    <option value="" disabled>--</option>
						  </select>
						
						  <select ng-model="dateDay" ng-options="day for day in selects.days()" class="form-control">
						    <option value="" disabled>--</option>
						  </select>
						
							</div>
							</td>
					
						</tr>							
						</table>		
						<button type="submit" class="btn btn-default">Submit</button>	
					</div>
			
				</div>
			</div>
		</form>
		</div>
	</div>	
		</div>
		</div>
	</div>
