<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forgot Password</title>
	<link href="/boostrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/masterClientStyle.css" rel="stylesheet">
   	<link href="/css/forgotPassword.css" rel="stylesheet">
</head>

<body>
	<div class="head">
		<h3>Scheduler App</h3>
	</div>
	<form>
	<div class="forgotPassword">
		<h2>Forgot Password</h2> 
			<div class="inner">
			<table>
			<tr>
			<th>
			<label for="email">Email address: </label>
			</th>
   			<th class="drop">
    		<input type="email" class="form-control" id="email">
			</th>
			</tr>
			</table>
	</div>
		<button type="submit" class="btn btn-default">Send</button>
	</div>
	</form>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/boostrap/js/bootstrap.min.js"></script>
</body>
</html>
