<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Scheduler App</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/masterAdminStyle.css" rel="stylesheet">
   	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
<div class="head">
		<h3>Scheduler App</h3>
			<div class="hright">
				<a href="#" >Getting Started</a>
				<a href="#" >Help</a>
				<a href="#" >Contact</a>
			</div>
		</div>
	
	<div class="mainContainer">
		<div class="container">
	  	<div class="bg"></div>
		  <div class="jumbotron">
			<h1>Scheduler App</h1> 
			<p>Web based Schedulling application, provides both client side for business clients to book appointments. As well as Admin side for Businesses to administer appoinments as well as many other built in feautures. </p> 
		  </div>
		  	</div>
		  <div class="applicationInfoCenter">
		  <div class="applicationInfo">
		  	<div class="clientInfo">
		  		<h3>Client Features:</h3>
		  		<ul>
		  			<li>Mobile Friendly</li>
		  			<li>Book and View Appointments</li>
		  			<li>Interative Calendar</li>
		  			<li>Cancel Appointments</li>
		  		</ul>
		  	</div>
		  	<div class="adminInfo">
		  		<h3>Admin Features:</h3>
		  		<ul>
		  			<li>Full Access of Calendar</li>
		  			<li>Appointment Modification</li>
		  			<li>Interactive Calendar</li>
		  			<li>Client Account Administration</li>
		  			<li>Account Security Clearences</li>
		  			<li>Email Reminders</li>
		  		</ul>
		  	</div>
		  	
		  </div>
		  </div>	
		 <div class="buttonHolder">
			<h2>Please select login option:</h2>
			<div class="leftBtn">
				<a href="#/admin/addEmployee" class="btn btn-lg btn-default">Client</a>
			</div>
			<div class="rightBtn">
				<a href="/partials/Login.html" class="btn btn-lg btn-default">Admin</a>
			</div>
		 </div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
<footer>
	<p>Created by Lindsey Kinash, Archana Gumber and Dominique Belhumeur</p>
</footer>
</html>
