
<head>
<link href="/css/login.css" rel="stylesheet">
</head>

<body>

	<div class="login">
		<h2>Admin Login</h2>
		<div class="inner">
			<form action="">
				<div class="form-group">
					<table>
						<tr>
							<th><label for="email">Email :</label></th>
							<th class="drop"><input type="email" class="form-control"
								id="email"></th>
						</tr>
						<tr>
							<th><label for="pwd">Password:</label></th>
							<th class="drop"><input type="password" class="form-control"
								id="pwd"></th>
						</tr>

					</table>
				</div>
				<div class="forgotP">
					<a href="forgotPassword.html">Forgot Password?</a>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</body>
