<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link href="/boostrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/masterClientStyle.css" rel="stylesheet">
   	<link href="/css/login.css" rel="stylesheet">
</head>

<body>
<div class="head">
	<h3>Scheduler App</h3>
</div>

<div class="login">
	<h2>Admin Login</h2> 
	<div class="inner">
	<form>
  <div class="form-group">
   <table>
   		<tr>
   			<th>
    			<label for="email">Email :</label>
    		</th>
    		<th class="drop">
    			<input type="email" class="form-control" id="email">
    		</th>
	   </tr>	
    	<tr>
    		<th>
    			<label for="pwd">Password:</label>
    		</th>
    		<th class="drop">
    			<input type="password" class="form-control" id="pwd">
			</th>
	   </tr>
	   
    </table>
  </div>
   <div class="forgotP">
  <a href="forgotPassword.html">Forgot Password?</a>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
	</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/boostrap/js/bootstrap.min.js"></script>
</body>
</html>
