<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Pending Appointment</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/masterAdminStyle.css" rel="stylesheet">
   	<link href="/css/pendingAppAdmin.css" rel="stylesheet">
</head>

<body>
<div class="head">
		<h3>Scheduler App</h3>
			<div class="hright">
				<label class="username">Admin User</label>
				<div class="dropdown">
					<button type="button" data-toggle="dropdown">
					<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="/partials/adminEditProfile.html">Edit Profile</a></li>
					<li><a href="#">Logout</a></li>
					</ul>
				</div>
			</div>
	</div>
	
	<div class="container">
		
		<div class="leftNav">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="/partials/pendingAppAdmin.html">Pending Appointment</a></li>
     						 	<li><a href="#">Add Admin</a></li>
     						 	<li><a href="/partials/viewAdminAccount.html">View List Admins</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Prodcuts</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Service</a></li>
     						 	<li><a href="/partials/viewServiceAdmin.html">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="/partials/addEmployeeAdmin.html">Add Employee</a></li>
     						 	<li><a href="/partials/viewEmployeeAdmin.html">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="/partials/addRoomAdmin.html">Add Room</a></li>
     						 	<li><a href="/partials/viewRoomAdmin.html">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		</div>
		
		<div class="rightContent">
		<h2>Pending Appointments</h2>
			<div class="appHolder">
				<div class="appointment">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
									<label>December 27, 2016 3:00 PM </label>
									<a data-toggle="collapse" href="#collapse1"><span class="caret"></span></a>
									<div class="cname">
										<label >Jonh Smith </label>
									</div>
									<div class="btnApp">
										<button type="button" class="btn btn-success" name="apprPendingEvent">Approve</button>
										<button type="button" class="btn btn-danger" name="rejPendingEvent">Reject</button>
									</div>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body">
									<table>
										<tr>
											<td><label>Service X Treatment </label></td>
											
											<td><label>APPROVED</label></td>
										</tr>
										<tr>
											<td><label>Employee X </label></td>
										
											<td><label>APPROVED</label></td>
										</tr>
										<tr>
											<td><label>ROOM 4</label></td>
											
											<td><label>DECLINED</label></td>
										</tr>
										<tr>
											<td><label>35 min</label></td>
											
											<td></td>
										</tr>
									</table>
								</div>
							</div>
						 </div>
					</div>
				</div>
				
				<div class="appointment">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
									<label>December 27, 2016 3:00 PM </label>
									<a data-toggle="collapse" href="#collapse2"><span class="caret"></span></a>
									<div class="cname">
										<label >Jonh Smith2 </label>
									</div>
									<div class="btnApp">
										<button type="button" class="btn btn-success" name="apprPendingEvent">Approve</button>
										<button type="button" class="btn btn-danger" name="rejPendingEvent">Reject</button>
									</div>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">
									<table>
										<tr>
											<td><label>Service X Treatment </label></td>
											
											<td><label>APPROVED</label></td>
										</tr>
										<tr>
											<td><label>Employee X </label></td>
										
											<td><label>APPROVED</label></td>
										</tr>
										<tr>
											<td><label>ROOM 4</label></td>
											
											<td><label>DECLINED</label></td>
										</tr>
										<tr>
											<td><label>35 min</label></td>
											
											<td></td>
										</tr>
									</table>
								</div>
							</div>
						 </div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
