<div class="rightContent">
		<div class="mainTitle">
			<h2>Pending Appointment's</h2>
			<div class="addSign">
				<a href="#"> <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>

		<div class="appHolder">
			<div class="appointment">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>December 27, 2016 3:00 PM </label> <a
								data-toggle="collapse" href="#collapse1"><span class="caret"></span></a>
							<div class="cname">
								<label>Jonh Smith </label>
							</div>
							<div class="btnApp">
								<button type="button" class="btn btn-success"
									name="apprPendingEvent">Approve</button>
								<button type="button" class="btn btn-danger"
									name="rejPendingEvent">Reject</button>
							</div>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								<table>
									<tr>
										<td><label>Service X Treatment </label></td>

										<td><label>APPROVED</label></td>
									</tr>
									<tr>
										<td><label>Employee X </label></td>

										<td><label>APPROVED</label></td>
									</tr>
									<tr>
										<td><label>ROOM 4</label></td>

										<td><label>DECLINED</label></td>
									</tr>
									<tr>
										<td><label>35 min</label></td>

										<td></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="appointment">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>December 27, 2016 3:00 PM </label> <a
								data-toggle="collapse" href="#collapse2"><span class="caret"></span></a>
							<div class="cname">
								<label>Jonh Smith2 </label>
							</div>
							<div class="btnApp">
								<button type="button" class="btn btn-success"
									name="apprPendingEvent">Approve</button>
								<button type="button" class="btn btn-danger"
									name="rejPendingEvent">Reject</button>
							</div>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<table>
									<tr>
										<td><label>Service X Treatment </label></td>

										<td><label>APPROVED</label></td>
									</tr>
									<tr>
										<td><label>Employee X </label></td>

										<td><label>APPROVED</label></td>
									</tr>
									<tr>
										<td><label>ROOM 4</label></td>

										<td><label>DECLINED</label></td>
									</tr>
									<tr>
										<td><label>35 min</label></td>

										<td></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
