
<head>
<link href="/css/rejectAppAdmin.css" rel="stylesheet">
</head>

<body>
	<div class="rightContent">
		<h3>Reject Appointment</h3>
		<div class="rightC">
			<form action="">
				<div class="info">
					<table>
						<tr>
							<td><h4>John Smith</h4></td>
							<td></td>
						</tr>
						<tr>
							<td>
								<p></p>
							</td>
							<td><p></p></td>
						</tr>
						<tr>
							<td><label>Service X Treatment </label></td>
							<td><label>APPROVED</label></td>
						</tr>
						<tr>
							<td><label>Employee X </label></td>
							<td><label>APPROVED</label></td>
						</tr>
						<tr>
							<td><label>ROOM 4</label></td>
							<td><label>DECLINED</label></td>
						</tr>
						<tr>
							<td><label>35 min</label></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="reject">
					<h4>Reason for Rejection:</h4>
					<textarea cols="" rows=""></textarea>
				</div>
				<div class="btn">
					<button type="submit" class="btn btn-default">Notify
						Client</button>
				</div>
			</form>
		</div>
	</div>

</body>
