<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sign Up</title>
	<link href="/boostrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/masterClientStyle.css" rel="stylesheet">
   	<link href="/css/signUp.css" rel="stylesheet">
</head>

<body>
	<div class="head">
	<h3>Scheduler App</h3>
	</div>
	
	<div class="container">
		<form>
		<div class="inner">
		<h2>Sign Up</h2>
		<div class="inner2">
		<div class="information">
			<table>
			<tr>
				<th>
					<p>First Name</p>
				</th>	
				<th class="innerTh">
					<input type="text" class="form-control" id="fname">
				</th>
			</tr>
			<tr>
				<th >
					<p>Last Name</p>
				</th>
				<th class="innerTh">
					<input type="text" class="form-control" id="lname">
				</th>
			</tr>
			<tr>
				<th>
					<p>Email</p>
				</th>
				<th class="innerTh">
					<input type="email" class="form-control" id="email">
				</th>
			</tr>
			<tr>
				<th>
					<p>Password</p>
				</th>
				<th class="innerTh">
					<input type="password" class="form-control" id="pwd1">
				</th>
			</tr>		
			<tr>
				<th>
					<p>Re-Enter Password</p>
				</th>
				<th class="innerTh">
					<input type="password" class="form-control" id="pwd2">
				</th>
			</tr>
			<tr>
				<th>
					<p>Birthday</p>
				</th>
				
				<th class="innerTh">
					<input type="text" class="form-control" id="month" placeholder="MM-DD-YYYY" maxlength="10">
				</th>
		
			</tr>							
			</table>			
		</div>
	
	</div>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/boostrap/js/bootstrap.min.js"></script>
</body>
</html>
