
<head>
<link href="/css/viewAdminAccount.css" rel="stylesheet">
</head>

<body>

	<div class="rightContent" layout="row" flex>
	<md-content>
		<div class="mainTitle" layout="column" flex>
			<h2>View Admin Account</h2>
			<div class="addSign">
				<a href="#"> <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
		<div class="adminContainer" layout="column" flex >
			<div class="admin">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>Admin #1 Name </label> <a data-toggle="collapse"
								href="#collapse1"><span class="caret"></span></a>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="adminArea">
									<div class="listAdmin">
										<table>
											<tr>
												<th>User Privileges</th>
												<th>View only</th>
												<th>View + Edit</th>
											</tr>
											<tr>
												<td>Service of Type 1</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
											</tr>
											<tr>
												<td>Service of Type 2</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
											</tr>
											<tr>
												<td>Service of Type 3</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
											</tr>
											<tr>
												<td>Service of Type 4</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
												<td>
													<div class="checkbox">
														<label><input type="checkbox" value=""></label>
													</div>
												</td>
											</tr>
										</table>
									</div>
									<div class="opt">
										<div class="rmvEmp">
											<button type="button" class="btn btn-danger">Remove
												Admin</button>
										</div>
										<div class="saveBtn">
											<button type="button" class="btn btn-default">Save</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</md-content>
	</div>
</body>

