<head>
	<link href="/css/viewClientAdmin.css" rel="stylesheet">
</head>

	<div class="row">
		<div class="col-sm-2 col-lg-2">
		<div class="leftNav">
					<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View List Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 	<li><a href="#/admin/bookAppointment">Book Appointment</a></li>
     						 	<li><a href="#/admin/searchApp">Search Appointment</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Prodcuts</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			     <div class="client Side View">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse70009">Client Side</a>
              </h4>
            </div>
            <div id="collapse70009" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  <li>
                    <a href="#/client/viewApointment">viewAppointent</a>
                  </li>
                  <li>
                    <a href="#/client/bookAppointment">bookAppointment</a>
                  </li>
                  <li>
                    <a href="#/client/cancelAppointment">CancelAppointment</a>
                  </li>
                  <li>
                    <a href="#/client/editBooking">editBooking</a>
                  </li>
                  <li>
                    <a href="#/client/login">Login</a>
                  </li>
                  <li>
                    <a href="#/client/editProfile">editProfile</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
	
	<div class="col-sm-10 col-lg-10">
	<div class="rightContent">
	<div ng-controller="ViewClientController" ng-init="init()">
		<div class="mainTitle">
			<h2>View Client's</h2>
			<div class="addSign">
				<a href="#/admin/addClient"> <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
		<div class="employeeContainerMaster">
			<div class="employee" ng-repeat="client in clients">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>{{client.firstName}} {{client.lastName}} </label> <a data-toggle="collapse"
								href="#collapse{{$index}}"><span class="caret"></span></a>
							<div class="btnApp"></div>
						</div>
						<div id="collapse{{$index}}" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="cont">
									<table>
										<tr>
											<td>First Name</td>
											<td>{{client.firstName}}</td>
										</tr>
										<tr>
											<td>Last Name</td>
											<td>{{client.lastName}}</td>
										</tr>
										<tr>
											<td>Email</td>
											<td>{{client.email}}</td>
										</tr>
										<tr>
											<td>Phone Number</td>
											<td>{{client.phoneNumber}}</td>
										</tr>
										<tr>
											<td>Birth date</td>
											<td>{{client.birthday}}</td>
										</tr>
									</table>
									<div class="opt">
										<div class="rmvEmp">
											<button type="button" class="btn btn-danger" ng-click="removeClient($index)">Remove
												Client</button>
										</div>
										<div class="saveBtn">
 										<button type="button" class="btn btn-default" ng-click="editClient($index)">Edit</button>
 										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>


