<head>
	<link href="/css/viewEmployeeAdmin.css" rel="stylesheet">
</head>
	<div class="rightContent">
		<div class="mainTitle">
			<h2>View Employee's</h2>
			<div class="addSign">
				<a href="#"> <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
		<div class="employeeContainerMaster">
			<div class="employee">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>Employee #1 Name </label> <a data-toggle="collapse"
								href="#collapse1"><span class="caret"></span></a>
							<div class="btnApp"></div>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="cont">
									<h4>Employee Name</h4>
									<div class="employeeContainer">
										<div class="left">
											<div class="availability">
												<div class="heading">
													<h5>Availabily</h5>
													<div class="plusMinus">
														<button type="button" class="btn btn-default">
															<h5>+ / -</h5>
														</button>
													</div>
												</div>
												<table>
													<tr>
														<td>Monday</td>
														<td>8:00AM</td>
														<td>-</td>
														<td>4:00PM</td>
													</tr>
													<tr>
														<td>Tuesday</td>
														<td>8:00AM</td>
														<td>-</td>
														<td>4:00PM</td>
													</tr>
													<tr>
														<td>Wenesday</td>
														<td>8:00AM</td>
														<td>-</td>
														<td>4:00PM</td>
													</tr>
													<tr>
														<td>Thursday</td>
														<td>8:00AM</td>
														<td>-</td>
														<td>4:00PM</td>
													</tr>
												</table>
											</div>

											<div class="Holidays">
												<div class="heading">
													<h5>Holidays</h5>
													<div class="plusMinus">
														<button type="button" class="btn btn-default">
															<h5>+ / -</h5>
														</button>
													</div>
												</div>
												<table>
													<tr>
														<td>February 2, 2017</td>
														<td>-</td>
														<td>February 10, 2017</td>
													</tr>
												</table>
											</div>
										</div>
										<div class="right">
											<div class="servicePreformed">
												<div class="heading">
													<h5>Services Preformed</h5>
													<div class="plusMinus">
														<button type="button" class="btn btn-default">
															<h5>+ / -</h5>
														</button>
													</div>
												</div>
												<table>
													<tr>
														<td>Service 1</td>
													</tr>
													<tr>
														<td>Service 2</td>
													</tr>
													<tr>
														<td>Service 3</td>
													</tr>
													<tr>
														<td>Service 4</td>
													</tr>
													<tr>
														<td>Service 5</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="opt">
										<div class="rmvEmp">
											<button type="button" class="btn btn-danger">Remove
												Employee</button>
										</div>
										<div class="saveBtn">
											<button type="button" class="btn btn-default">Save</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
