<head>
	<link href="/css/viewRoomAdmin.css" rel="stylesheet">
</head>

<body>
	<div class="rightContent">
		<div class="mainTitle">
			<h2>View Rooms</h2>
			<div class="addSign">
				<a href="#"> <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
		<div class="roomContainer">
			<div class="room">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>Room #1 Name </label> <a data-toggle="collapse"
								href="#collapse1"><span class="caret"></span></a>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="wrapPanelBody">
									<div class="servicePreformed">
										<div class="heading">
											<h5>Services Preformed</h5>
											<div class="plusMinus">
												<button type="button" class="btn btn-default">
													<h5>+ / -</h5>
												</button>
											</div>
										</div>
										<table>
											<tr>
												<td>Service 1</td>
											</tr>
											<tr>
												<td>Service 2</td>
											</tr>
											<tr>
												<td>Service 3</td>
											</tr>
											<tr>
												<td>Service 4</td>
											</tr>
											<tr>
												<td>Service 5</td>
											</tr>
										</table>
									</div>
									<div class="opt">
										<div class="rmvEmp">
											<button type="button" class="btn btn-danger">Remove
												Room</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
