
<head>
	<link href="/css/viewClientAppointment.css" rel="stylesheet">
</head>

<body>
	<div class="outContainer">

	
			<div ng-controller="ViewClientAppointmentController" ng-init="init()">

				<h2>Appointments</h2>
				<div class="App" ng-repeat="appointment in appointmentsList">
					<table>
						<tr>
							<td><label>Date: {{appointment.date}}</label></td>
						</tr>
						<tr>
							<td><label> {{appointment.serviceName}} with {{appointment.employeeName}}</label></td>
						</tr>
						<tr>
							<td>
								<button type="button" class="btn btn-default">Reschedule</button>
								<button type="button" class="btn btn-default" ng-click ="removeApp($index)">Cancel</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="test2">
				<label><input type="checkbox" value="">Show Past
					Appointments</label>
			</div>

	</div>
</body>

