<head>
<link href="/css/viewEmployeeAdmin.css" rel="stylesheet">
</head>
	<div class="row">
		<div class="col-sm-2 col-lg-2">
		<div class="leftNav">
			<div class="admin">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse10009">Admin</a>
      						</h4>
    					</div>
    					<div id="collapse10009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/pending">Pending Appointment</a></li>
     						 	<li><a href="#/admin/addAdmin">Add Admin</a></li>
     						 	<li><a href="#/admin/viewAccount">View List Admins</a></li>
     						 	<li><a href="#/admin/logChanges">Changes Log</a></li>
     						 	<li><a href="#/admin/bookAppointment">Book Appointment</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			
			<div class="product">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse20009">Product</a>
      						</h4>
    					</div>
    					<div id="collapse20009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#">Add Product</a></li>
     						 	<li><a href="#">View Prodcuts</a></li>
     						 	<li><a href="#">CheckOut</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="services">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse30009">Services</a>
      						</h4>
    					</div>
    					<div id="collapse30009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addService">Add Service</a></li>
     						 	<li><a href="#/admin/viewService">View Services</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="employee">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse40009">Employee</a>
      						</h4>
    					</div>
    					<div id="collapse40009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addEmployee">Add Employee</a></li>
     						 	<li><a href="#/admin/viewEmployee">View Employee</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="room">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse50009">Room</a>
      						</h4>
    					</div>
    					<div id="collapse50009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addRoom">Add Room</a></li>
     						 	<li><a href="#/admin/viewRoom">View Room</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
			<div class="client">
				<div class="panel-group">
 				 	<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" href="#collapse60009">Client</a>
      						</h4>
    					</div>
    					<div id="collapse60009" class="panel-collapse collapse">
     						 <div class="panel-body">
     						 <ul>
     						 	<li><a href="#/admin/addClient">Add Client</a></li>
     						 	<li><a href="#/admin/viewClient">View Clients</a></li>
     						 </ul>
     						 </div>
   
    					</div>
 					 </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-10 col-lg-10">
	<div class="rightContent">
		<div ng-controller="ViewEmployeeController" ng-init="init()">
		<div class="mainTitle">
			<h2>View Employee's</h2>
			<div class="addSign">
				<a href="#/admin/addEmployee"> <span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
		<div class="employeeContainerMaster">
			<div class="room" ng-repeat="employee in employees" >
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>{{ employee.firstName }} {{employee.lastName}} </label> <a data-toggle="collapse"
								href="#collapse{{$index}}"><span class="caret"></span></a>
						</div>
						<div id="collapse{{$index}}" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="cont">
									<h4>Employee Name: {{ employee.firstName }} {{employee.lastName}}  </h4>
									<div class="employeeContainer">
										<div class="left">
											<div class="availability">
												<div class="heading">
													<h5>Availabily</h5>
													<div class="plusMinus">
														<button type="button" class="btn btn-default">
															<h5>+ / -</h5>
														</button>
													</div>
												</div>
												<table>
													<tr ng-repeat="daytimeblock in employee.dayTimeBlocks">
														<td id="weekd">{{daytimeblock.weekDay}}</td>
														<td id="timeslot">{{daytimeblock.startHour}}:{{daytimeblock.startMinute}}</td>
														<td id="timeslot"> to </td>
														<td id="timeslot">{{daytimeblock.endHour}}:{{daytimeblock.endMinute}}</td>
													</tr>
												</table>
											</div>

											<div class="Holidays">
												<div class="heading">
													<h5>Holidays(YYYY-MM-DD)</h5>
													<div class="plusMinus">
														<button type="button" class="btn btn-default">
															<h5>+ / -</h5>
														</button>
													</div>
												</div>
												<table>
													<tr ng-repeat="timeBlock in employee.timeBlocks">
														<td>{{timeBlock.year}}, {{timeBlock.month}}, {{timeBlock.day}}</td>
													</tr>
												</table>
											</div>
										</div>
										<div class="right">
											<div class="servicePreformed">
												<div class="heading">
													<h5>Services Preformed</h5>
													<div class="plusMinus">
														<button type="button" class="btn btn-default">
															<h5>+ / -</h5>
														</button>
													</div>
												</div>
												<table>
													<tr ng-repeat="service in employee.serviceList">
													<td>{{service.name}}</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="opt">
										<div class="rmvEmp">
											<button type="button" class="btn btn-danger" ng-click ="removeEmployee($index)">Remove
												Employee</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			
		</div>
	</div>
	</div>
